/* LoginFormStyles.css */
.login-container {
    background-color: var(--color-container); 
    max-width: 400px;
    width: 100%;
    margin: 0 auto; /* Centrado horizontal */
    border-radius: var(--border-radius); 
    box-shadow: var(--shadow); 
    overflow: hidden; /* Evita que los elementos sobresalgan */
    padding: 20px; 
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    gap: 8px; /* Espacio entre los elementos */
}

/* Header y logo */
header {
    text-align: center;
    padding: 10px 0; 
}

.logo {
    width: 100%; /* Ancho del logo */
    height: auto; /* Mantiene la proporción */
    margin-bottom: 10px; /* Espacio debajo del logo */ 
}

.tagline {
    font-family: 'Roboto', sans-serif; /* Fuente Roboto */
    color: #666; /* Gris medio */
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300;
}

/* Formulario */
.login-form {
    padding: 0 20px 10px;  /*Espaciado interno del formulario */
}

/*.login-form .ant-form-item {
    display: block;
    margin-bottom: 30px; /* Espacio entre los campos del formulario
} */

.login-form .ant-form-item-label label {
    display: block; /* Asegura que la etiqueta ocupe todo el ancho */
    color: #555; 
    font-size: 14px;
    font-weight: 500; 
    margin-top: 20px !important;
}


.ant-form-item {
    margin-bottom: 0px !important;
}

.login-form .ant-form-item-control {
    display: block; /* Asegura que el control ocupe todo el ancho */
}

.login-form .ant-input{
    width: 100%;
    padding: 12px 15px; /* Espaciado interno del input */
    border: 1px solid var(--color-border); 
    border-radius: var(--border-radius); 
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-bottom: 0px !important;
}

.login-form .ant-input-password {
    width: 100%;
    padding: 12px 15px; /* Espaciado interno del input */
    border: 1px solid var(--color-border) !important; 
    border-radius: var(--border-radius); 
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-form .ant-input:focus { 
    outline: none;
    border-color: var(--color-primary-light); /* Verde claro al enfocar */
    box-shadow: 0 0 0 2px rgba(129, 199, 132, 0.2); /* Sombra al enfocar */
}

.login-container .login-form .ant-input-password:focus {
    outline: none !important;
    border-color: var(--color-primary-light) !important;
    box-shadow: 0 0 0 2px rgba(82, 196, 26, 0.2) !important;
}

/* Botón */
.btn-login-button {
    margin: 0; /* Elimina márgenes no deseados */
    padding: 0; /* Ajusta el padding si es necesario */
}

.btn-login {
    background-color: var(--color-primary); 
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s;
    width: 100%; 
    
}

.ant-btn.btn-login:hover {
    opacity: 0.8;
    background-color: var(--color-primary-light);
}

.btn-login:active {
    transform: scale(0.98);
}

.login-button {
    margin-bottom: 20px !important;
    margin-top: 30px !important;
}

/* Enlaces */
.forgot-password {
    text-align: center;
}

.forgot-password a {
    color: var(--color-primary-dark); /* Verde oscuro */
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: var(--color-primary); /* Verde principal al pasar el mouse */
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }

    .login-form {
        padding: 0 20px 20px;
    }

    h1 {
        font-size: 22px;
    }
}